<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{.PageTitle}}" />
    {{if .Description}}
    <meta name="description" content="{{.Description}}" />
    {{end}}
    <title>{{.PageTitle}}</title>
    <script src="/public/main.js"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
        integrity="sha256-WLKGWSIJYerRN8tbNGtXWVYnUM5wMJTXD8eG4NtGcDM=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        html {
            margin-top: 0px;
            background-color: rgb(226, 226, 226);
            font-family: "IBM Plex Sans", sans-serif, -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
            color: rgb(26, 26, 26);
        }
    </style>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1>{{.PageTitle}}</h1>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Category
                    </a>
                    <div class="navbar-dropdown">
                        {{range .Category}}
                        <a class="navbar-item" href="/c/{{.}}">
                            {{.}}
                        </a>
                        {{end}}
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/LICENSE">
                            LICENSE
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/ADMINCONSOLE">
                            Admin console
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                
            </div>
        </div>
    </nav>
</body>

</html>
